{% extends '../base.html' %}

{% block title %}My Tasks | {% endblock %}

{% block content %}
<h2>Task List ({{ tasks.count }})</h2>

<hr/>

    {% for task in tasks %}
        <div class="rounded border p-2 my-3 w-100 h-100 {% if task.closed %}text-secondary{% else %}border-success{% endif %}">
        <div class="">
            <b>{{ task.pk}}. {{ task.title|title }}</b><br />
            <div>{{ task.description|truncatewords:10 }}</div>
        </div>

        <div class="text-end">
            {% if not task.closed %}
            <a href="{% url 'task-close' task.pk %}" class="btn btn-sm btn-success">Close</a>
            <a href="{% url 'task-update' task.pk %}" class="btn btn-sm btn-info">Update</a>
            {% endif %}
            <a href="{% url 'task-delete' task.pk %}" class="btn btn-sm btn-danger">Delete</a>
        </div>
            </div>
    {% endfor %}

    <hr />
    <h3>Add New Task</h3>
    <form method="post">
        <div class="text-center">
            {% csrf_token %}
            {{ task_form.title }} <br/>
            {{ task_form.description }}<br/>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}
